.ql-container.ql-container {
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px !important;
    height: 100%;
    margin: 0;
    position: relative;
}

.ql-editor.ql-editor h1{
    display: block;
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}